<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!-- Custom CSS-->
   <link rel="stylesheet" href="/custom/css/screen.css" type="text/css" />
<title>{{ page.title }}</title>
</head>
<body id="">
<header id="header">
      <img id="avater" src="/custom/photos/head6.png"/> 
      <hgroup>
        <br/>
        <br/>
        <h1 id="logo"><a href="/" title="东湖博客">&nbsp;liumeng's Blog</a></h1>
        <h2 id="sublogo">&nbsp;Less is more,simple is elegance</h2>
      </hgroup>
  </header>
<div id="wrap">
  <div id="content">
    {{ content }}
  </div>
</div>
</body>
</html>